.btn1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 8;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20.7974px;
    background: none;
    padding: 5px 40px 5px 40px;
    color: white;
    display: flex;
    width: 100%;
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;

    transition: transform .3s ;


    &:disabled{
        opacity: 30%;
    }

    &--active{
        opacity: 100%;
    }

    &:focus{
        outline:none;
    }

    &:hover{
        transform: scale(1.1);
        
    }
}